body {
    background-repeat: no-repeat;
    background-size: cover;
}
.registration-form h1 {
    font-size: 23px;
    text-align: center;
    margin: 10px 0;
    font-color: blue;
}
.registration-form p {
     font-size: 22px;
     margin: 20px 30px;
     text-align:center;
}
.registration-form input {
     font-size: 16px;
     padding: 10px 5px;
     width: 20%;
     border: 0;
     border-radius: 10px;
     outline: solid black;
     text-align: center;
}
.registration-form button {
    font-size: 18px;
    font-weight: bold;
    margin: 50px 20px;
    paddding: 10px 50px;
    width: 9%;
    border: 0;
    border-radius: 3px;
    background-color: #fff;
    outline: 2px solid black;
}
.registration-form button:hover {
    color: red;
}